.hi {
  color: transparent !important;
  display: inline-block;
  -webkit-text-fill-color: transparent !important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(229 229 229);
  background: transparent !important;
  opacity: 0;
  transform: translateY(10px);
}

.Spotlight {
  position: relative;
  width: 100%;
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    // .image_box {
    //   width: 500px;
    //   opacity: 0;
    //   transform: scale(1.6) translateY(100px) translateX(5%);
    // }
    .text_container {
      padding-left: -50px;

      .line_bar {
        display: block;
        width: 3px;
        height: 0;
        background: #fff;
        margin-left: 14px;
      }

      .content {
        padding-left: 12px;
        transform: translateY(50px);
        opacity: 0;
        font-size: 20px;
      }
      h3 {
        span {
          font-size: 50px;
          font-weight: 600;
          margin-right: 8px;
          display: inline-block;
          -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: #fff;
        }
        font-size: 38px;
        transform: translateY(50px);
        opacity: 0;
      }
    }
  }
}
